<br />
<br />
<br />
<div class="row p-2 pb-0">
  <div class="col-md-7 text-end pe-4">
    <br />
    <br />
    <div class="display-5 text-tertiary">Hi, I am</div>
    <div class="display-3 pb-2"><strong>Sameer Khurd</strong></div>

    <div class="p-1 rounded-1" style="background-color: var(--color-0)"></div>

    <div class="py-4 text-tertiary">
      Passionate computer science engineer who is always keen to learn new
      things <br />Like to work actively and do challenging work<br />
      Want to contribute skills to the betterment of society
    </div>
  </div>
  <div class="col-md-5 ps-4">
    <img src="/assets/images/profile-pic.png" alt="Profile Picture" />
  </div>
</div>

<div
  class="p-4 shadow rounded"
  style="background-color: #3e404f; height: 100px"
></div>
<br />
<br />
<hr />
<br />
<div class="icon icon-home">&nbsp;</div>
<div class="container px-4">
  <h3>Education</h3>
  <ul>
    <li>2019 - 2021 Master of Technology</li>
  </ul>
</div>

<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
