img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.custom-icon {
  font-size: 18px;
  color: rgb(251, 184, 17);
  opacity: 0.7;
  cursor: pointer;
}

.custom-icon:hover {
  background-color: var(--bg-color-2);
  border-radius: 50%;
}
