.icon {
  background-repeat: no-repeat !important;
  margin-top: auto;
  border-radius: 0% !important;
}

.icon-lg {
  background-repeat: no-repeat !important;
  margin-top: auto;
  border-radius: 0% !important;
  width: 48px !important;
  height: 48px !important;
  max-width: 48px !important;
  margin-bottom: 0;
}

.icon-home {
  background: url("/personal-portfolio/assets/icons/home.svg");
}

.icon-school {
  background: url("/assets/icons/school.svg");
}
